Repository CodeSystem2022/HelloWorld-3erSemestre, pull requests merged in 2023-06, with the labels that each got.

#32 Semana 5- InstanceOf
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/build.xml
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/build/built-jar.properties
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/build/classes/domain/Empleado.class
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/build/classes/domain/Gerente.class
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/build/classes/test/TestIntanceOf.class
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/manifest.mf
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/build-impl.xml
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/genfiles.properties
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/private/private.properties
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/private/private.xml
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/project.properties
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/nbproject/project.xml
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/src/domain/Empleado.java
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/src/domain/Gerente.java
  Java/Semana 5 (01-05 al 05-05)/InstanceOf/src/test/TestIntanceOf.java
Labels: JAVA

#53 Clase 6 de Semana 7 JS
  JavaScript/Semana 7 (15-05 al 19-05)/05-03-clases.js
Labels: JavaScript

#54 Adjunto, actividad de la clase 7 en JavaScript, Semana 8
  JavaScript/Semana 7 (15-05 al 19-05)/05-03-clases.js
Labels: JavaScript

#55 Semana 8, en JavaScript
  JavaScript/Semana 7 (15-05 al 19-05)/05-03-clases.js
  JavaScript/Semana 8 (22-05 al 26-05)/05-03-clases.js
  JavaScript/Semana 8 (22-05 al 26-05)/diagrama.uxf
  JavaScript/Semana 8 (22-05 al 26-05)/index.html
Labels: JavaScript

#61 Adjunto Actividades de la clase 8, correspondiente a la Semana 9
  Python/Semana 9 (29-05 al 02-06)/Leccion07/.idea/.gitignore
  Python/Semana 9 (29-05 al 02-06)/Leccion07/.idea/Leccion07.iml
  Python/Semana 9 (29-05 al 02-06)/Leccion07/.idea/inspectionProfiles/profiles_settings.xml
  Python/Semana 9 (29-05 al 02-06)/Leccion07/.idea/misc.xml
  Python/Semana 9 (29-05 al 02-06)/Leccion07/.idea/modules.xml
  Python/Semana 9 (29-05 al 02-06)/Leccion07/capa_datos_persona/Persona.py
  Python/Semana 9 (29-05 al 02-06)/Leccion07/capa_datos_persona/conexion.py
  Python/Semana 9 (29-05 al 02-06)/Leccion07/capa_datos_persona/logger_base.py
  Python/Semana 9 (29-05 al 02-06)/Leccion07/capa_datos_persona/persona_dao.py
Labels: Python

#73 Semana 11 de Java Script
  JavaScript/Semana 11 (12-06 al 16-06)/TSLeccion08/SistemaVentas.js
  JavaScript/Semana 11 (12-06 al 16-06)/TSLeccion08/grafico_proyecto_ventas.uxf
Labels: JavaScript
